<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html-to-image/1.11.11/html-to-image.min.js"></script>
</head>
<body>

<div id="resumeContent" class="resume">

<h1><%= data.name %></h1>
<div class="contact">
  <%= data.phone %> | <%= data.email %> | <%= data.linkedin %>
</div>

<div class="section-title">EDUCATION</div>

<div class="row">
  <div class="left bold"><%= data.college %></div>
  <div class="right"><%= data.collegeDuration %></div>
</div>
<div class="row">
  <div class="left italic"><%= data.degree %></div>
  <div class="right">CGPA: <%= data.cgpa %></div>
</div>

<div class="section-title">PROJECTS</div>

<div class="row">
  <div class="left bold"><%= data.proj1Title %></div>
  <div class="right"><%= data.proj1Duration %></div>
</div>
<ul>
  <li><%= data.proj1Desc %></li>
</ul>

<div class="section-title">SKILLS</div>
<p><%= data.languages %></p>

</div>

<br>
<button onclick="downloadImage()">Download as JPG</button>

<script>
function downloadImage() {
  const node = document.getElementById('resumeContent');
  htmlToImage.toJpeg(node, { quality: 1 })
    .then(function (dataUrl) {
      const link = document.createElement('a');
      link.download = 'resume.jpg';
      link.href = dataUrl;
      link.click();
    });
}
</script>

</body>
</html>